#chatWindow{
	margin-bottom: 30px;
}

#mainWrapper{
	display: none;
}

#chatWrapper{
	color: white;
	height: 100%;
	background-color: ##00838F
	
}

#userWrapper{
	background-color: #00838F
	padding: 10px;
	color: white;
}

#namesWrapper h2{
	color:#00695C;
	font-family: Courier;	
}

#namesWrapper p{
	
	font-family: Courier;	
	font-size: 24px;
}

@media (min-width: 500px){
#namesWrapper{
	
	width: 50%;
	border:1px #ccc solid;
	border-radius: 10px;
	background:#f4f4f4;
	padding:30px;
	
	margin-left:20%;
}

}

@media (max-width: 500px){
	

	#namesWrapper{
	border:1px #ccc solid;
	border-radius: 5px;
	background:#f4f4f4;
	padding:14px;
	margin:30px;
}
#namesWrapper h2{
	color:#00695C;
	font-family: Courier;	
	font-size: 24px;
}

#namesWrapper p{
	
	font-family: Courier;	
	font-size: 18px;
}
}


input{
	height:30px;
	border:solid 1px #ccc;
}

#mainWrapper .badge {
    display: inline-block;
    min-width: 20px;
    padding: 5px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 7px
}


  #mainWrapper form {  position: fixed; bottom: 0; width: 100%; height: 27px; }
      #mainWrapper form input { border: 0; padding: 5px; width:40%;}
	
